// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards {
  display: flex;
  flex-flow: column wrap;
  text-align: center;

}

.flat_card {
  width: 190px;
  height: 220px;
  padding-top: 5px;
  background-color: #EEEEEE;
  box-shadow: 1px, 1px, 3px, black;
  margin: 20px;
}

.details {

}